@using ClientTvShowsCoreOAuth.Models
@model Personaje
@{
    ViewData["Title"] = "Detalles Personaje";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
    <li class="breadcrumb-item"><a asp-controller="Personajes" asp-action="Index">Personajes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalles</li>
  </ol>
</nav>

<h2>Detalles</h2>

<div class="container">
    <div class="text-center">
        <img src="@Model.Imagen" alt="Foto de @Model.Nombre"
            style="max-height:400px;height:100%;" class="img-thumbnail img-fluid">
    </div>
</div>
<div class="container mt-2" style="max-width:400px;">
    <table class="table table-borderless">
        <thead>
            <tr class="text-center">
                <th scope="col" colspan="2"><h4>@Model.Nombre</h4></th>
            </tr>
        </thead>
        <tbody>
            @if (User.Identity.IsAuthenticated)
            {
                <tr class="fs-6">
                    <th scope="row" class="col-sm-6 text-center">ID</th>
                    <td class="col-sm-6 text-center">@Model.IdPersonaje</td>
                </tr>
            }
            <tr>
                <th scope="row" class="col-sm-6 text-center">Serie</th>
                <td class="col-sm-6 text-center">
                    @ViewData["Titulo"]
                    <a asp-controller="Series" asp-action="Details"
                        asp-route-idserie="@Model.IdSerie">
                        <img src="~/img/link-dark.png" alt="Link-Variant icon" style="width:20px;height:20px;" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container text-center mt-4" style="max-width:480px;">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Personajes" asp-action="Edit"
            asp-route-idpersonaje="@Model.IdPersonaje" class="btn btn-warning rounded-pill w-100 mb-1">
            Editar
        </a>
    }
    <a asp-controller="Personajes" asp-action="BySerie" asp-route-idserie="@Model.IdSerie"
        class="btn btn-secondary rounded-pill w-100">
        Volver
    </a>
</div>
